@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  h1 {
    font-size: 2rem;
    /* text-3xl */
  }

  @media (min-width: 768px) {
    h1 {
      font-size: 2.25rem;
      /* md:text-4xl */
    }
  }

  h2 {
    font-size: 1.875rem;
    /* text-3xl */
  }

  @media (min-width: 768px) {
    h2 {
      font-size: 3rem;
      /* md:text-5xl */
    }
  }

  h3 {
    font-size: 1.5rem;
    /* text-2xl */
  }

  @media (min-width: 768px) {
    h3 {
      font-size: 2.25rem;
      /* md:text-4xl */
    }
  }

  h4 {
    font-size: 1.25rem;
    /* text-xl */
  }

  @media (min-width: 768px) {
    h4 {
      font-size: 1.875rem;
      /* md:text-3xl */
    }
  }

  h5 {
    font-size: 1.125rem;
    /* text-lg */
  }

  @media (min-width: 768px) {
    h5 {
      font-size: 1.5rem;
      /* md:text-2xl */
    }
  }

  h6 {
    font-size: 1rem;
    /* text-base */
  }

  @media (min-width: 768px) {
    h6 {
      font-size: 1.25rem;
      /* md:text-xl */
    }
  }

  html {
    scroll-behavior: smooth;
  }
}

@layer utilities {
  .debug {
    border: solid 1px hotpink;
  }
}

@layer components {
  .timeline-dot {
    @apply after:absolute after:-left-[30px] after:top-[5%] after:block after:size-4 after:rounded-3xl after:border-2 after:border-not-black after:content-[''] md:after:-top-6 md:after:left-1/2 md:after:-translate-x-1/2;
  }

  .chip {
    @apply rounded-xl border border-not-black px-3 py-1 text-3xl leading-loose;
  }
}
