@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  h1 {
    @apply my-6 text-3xl;
  }

  @media (min-width: 768px) {
    h1 {
      @apply my-8 text-4xl;
    }
  }

  h2 {
    @apply my-5 text-3xl;
  }

  @media (min-width: 768px) {
    h2 {
      @apply my-6 text-5xl;
    }
  }

  h3 {
    @apply my-4 text-2xl;
  }

  @media (min-width: 768px) {
    h3 {
      @apply my-5 text-4xl;
    }
  }

  html {
    scroll-behavior: smooth;
  }
}

@layer utilities {
  .max-app-width {
    @apply md:max-w-screen-md lg:max-w-screen-lg;
  }
  .debug {
    border: solid 1px hotpink;
  }
}

@layer components {
  .timeline-dot {
    @apply after:absolute after:-left-6 after:top-1/4 after:block after:size-4 after:-translate-x-1/2 after:rounded-3xl after:border-2 after:border-not-black after:content-[''];
  }

  .outer-shadow-button {
    @apply shadow-button shadow-not-black hover:shadow-button-hover hover:shadow-not-black;
  }

  .inner-shadow-button {
    @apply shadow-inner shadow-gray-300/80;
  }

  .combined-shadow-button {
    box-shadow:
      inset -2px -4px 0px 0px rgb(209 213 219 / 0.7),
      3px 5px 0px rgb(43, 61, 79);

    &:hover {
      box-shadow:
        inset -2px -4px 0px 0px rgba(255, 255, 255, 0.7),
        1px 5px 0px rgb(43, 61, 79);
    }
  }
  .chip {
    @apply rounded-xl border border-not-black px-3 py-1 text-2xl leading-loose md:text-3xl;
  }

  /* //TODO move to tailwind */
  /* .about-background {
    background: url("../../public/images/8GlMuy01.svg"), rgb(255 203 107 / 0.5);
  }

  .hero-background {
    background: url("../../public/images/wYQhFl01.svg"), #ace4f3;
  } */
}
