@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {

  .frame-clip {
    -webkit-mask-image: url('../images/wavyClip.png');
    mask-image: url('../images/wavyClip.png');
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    -webkit-mask-size: cover;
    mask-size: cover;
    mask-position: center;

  }

}
